// .task_item {
//   background-color: rgba(252, 252, 252, 0.913);
//   margin-top: 0.5rem;
//   border-radius: 6px;
//   font-size: 1.5rem;
//   &:hover {
//     background-color: rgba(205, 194, 244, 0.2);
//   }
//   td {
//     padding: 0.3rem;
//   }
//   .task_name {
//     max-width: 200px;
//     display: flex;
//     align-items: center;
//     justify-content: flex-start;
//     gap: 0.5rem;
//     .checkbox {
//       width: 3rem;
//       height: 3rem;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       border-radius: 50%;
//       transition: 0.3s ease background-color;
//       cursor: pointer;
//       & input {
//         width: 1.7rem;
//         height: 1.7rem;
//         cursor: pointer;
//       }
//       &:hover {
//         background-color: rgba(128, 128, 128, 0.2);
//       }
//     }
//     p {
//       width: calc(100% - 3rem);
//     }
//   }
// }

// .deleteBtn {
//   display: inline-block;
//   border: 1px solid crimson;
//   padding: 0.5rem 1.5rem;
//   font-size: 1.6rem;
//   color: crimson;
//   border-radius: 50px;
//   cursor: pointer;
//   transition: 0.3s ease background-color, 0.3s ease color;
//   &:hover {
//     background-color: rgb(142, 13, 39);
//     color: rgb(205, 205, 205);
//   }
// }
.task_item {
  background-color: #f7f7f7;
  margin-top: 0.5rem;
  border-radius: 10px;
  font-size: 1.6rem;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: #ececec;
  }

  td {
    padding: 0.5rem;
  }

  .task_name {
    display: flex;
    align-items: center;
    gap: 1rem;

    .checkbox {
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.3s ease, border 0.3s ease;
      border: 2px solid #7762d7;
      background-color: #ffffff;

      & input {
        width: 1.7rem;
        height: 1.7rem;
        cursor: pointer;
        display: none;
      }
      &:checked {
        border: 2px solid #ffffff;
        background-color: #7762d7;

        & input {
          display: block;
        }
      }
      &:hover {
        background-color: #7762d7;
        border: 2px solid #7762d7;
      }
    }

    p {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #333;
    }
  }
}

.deleteBtn {
  display: inline-block;
  border: 1px solid #ff4b5a;
  padding: 0.5rem 1.5rem;
  font-size: 1.6rem;
  color: white;
  background-color: rgb(239, 21, 21);
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: #ff4b5a;
    color: #fff;
  }
}
